$navbar-height: 96px;

.navbar{
    background-color: $bg-color;
    width: 100%;
    height: $navbar-height;
    position: relative;

    .navbar-inner{
        @include container;
        display: flex;
        align-items: center;
        height: 100%;

        .navbar-logo{
            height: 70%;
            margin-right: auto;

            img{
                height: 100%;
            }
        }

        a, a:visited{
            color: #fff;
        }

        div.navbar-item:not(:last-of-type){
            margin-right: 32px;
        }
    }
}