.page-container{
    @include container;
    margin-top: 128px;

    p, ul, ol, blockquote, table{
        max-width: 700px;
        line-height: 1.5;
        font-family: 'Fira Sans';
    }
}

@media (min-width: 600px){
    .page-container{
        margin-top: 192px;
    }
}